{% extends 'base/base.html' %}
{% block content %}
    <section id="catalog-page">
        <h1>All Games</h1>
        {% if games %}
            {% for game in games %}
                <div class="allGames">
                    <div class="allGames-info">
                        <img src="{{ game.image.url }}">
                        <h6>{{ game.category }}</h6>
                        <h2>{{ game.title }}</h2>
                        <a href="{% url 'game details' game.id %}" class="details-button">Details</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="no-articles">No articles yet</h3>
        {% endif %}
    </section>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}