{% extends 'base/base.html' %}
{% block content %}
    <section id="game-details">
        <h1>Game Details</h1>
        <div class="info-section">
            <div class="game-header">
                <img class="game-img" src="{{ game.image.url }}"/>
                <h1>{{ game.title }}</h1>
                <span class="levels">MaxLevel: {{ game.max_level }}</span>
                <p class="type">{{ game.category }}</p>
            </div>
            <p class="text">
                {{ game.description }}
            </p>
            <div class="details-comments">
                <h2>Comments:</h2>
                {% if comments %}
                    <ul>
                        {% for comment in comments %}
                            <li class="comment">
                                <p>User: {{ comment.user }}</p>
                            </li>

                            <li class="comment">
                                <p>Content: {{ comment.comment }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="no-comment">No comments.</p>
                {% endif %}
            </div>
            {% if is_owner %}
                <div class="buttons">
                    <a href="{% url 'game edit' game.id %}" class="button">Edit</a>
                    <a href="{% url 'delete game' game.id %}" class="button">Delete</a>
                </div>
            {% endif %}
        </div>
        {% if not is_owner %}
            <article class="create-comment">
                <label>Add new comment:</label>
                <form class="form" action="{% url 'create comment' game.id %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <textarea name="comment" placeholder="Comment......"></textarea>
                    <input class="btn submit" type="submit" value="Add Comment">
                </form>
            </article>
        {% endif %}
    </section>
{% endblock %}