<header>
    <!-- Navigation -->
    <h1><a class="home" href="{% url 'home' %}">GamesPlay</a></h1>
    <nav>
        {% if request.user.is_authenticated %}
            <p>Hello {{ request.user }}</p>
            <a href="#">My Profile</a>
            <a href="{% url 'catalogue list' %}">All games</a>
            <!-- Logged-in users -->

            <div id="user">
                <a href="{% url 'create game' %}">Create Game</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        {% else %}
            <!-- Guest users -->
            <div id="guest">
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            </div>
        {% endif %}
    </nav>
</header>