
body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


nav{
    font-size: 20px;
}

.info-section{

    background-image: url("../images/profile_and_game_detail_background.jpg");
}
.type {
    color: black;
}
