{% extends 'base/base.html' %}
{% block content %}
    <section id="edit-page" class="auth">
        <div class="container mb-5">
            <h1 class="text-center">Edit Your Profile</h1>
            <div class="container">
                <form method="POST" action="{% url 'profile edit' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn submit" type="submit" value="Edit Game">
                </form>
            </div>
        </div>
    </section>
{% endblock %}